pytest==5.4.2
torchvision
torchaudio
captum==0.4.1
transformers==4.23.1
ipython==7.31.1
seqeval==1.2.2
spacy==3.4.1
alive-progress==2.4.1
# python -m spacy download en_core_web_sm
git+https://github.com/bigscience-workshop/biomedical.git
